:root {
  overflow-x: hidden;
}
#black {
  background-color: transparent !important;
}
#fluid {
  width: 100% !important;
  background-image: linear-gradient(
    to top,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #020202,
    #030303,
    #050505,
    #090909,
    #0c0c0c,
    #0f0f0f,
    #121212
  );
  color: rgb(226, 226, 226) !important;
}
#movie {
  aspect-ratio: 3/4;
  border: 3px solid rgba(67, 67, 67, 0.455);
  border-radius: 2px;
  max-height: 400px;
  max-width: 250px;
  object-fit: cover;
}
h4 {
  margin-top: 1.5rem !important;
}
